
<%
  var title = manifest.name;
  var homepage = manifest.scope;
  var description = manifest.description;
  var icon512 = new URL('icon-512.png', homepage).href;
%>

<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <% if (isProd) { %>
    <base href="<%= homepage %>">
    <link rel="manifest" href="manifest.json">
  <% } %>
  <title><%= title %></title>
  <meta name="google-site-verification" content="w0qQlO5FQyLU478TxuRuz309bMP5Yd5zc5pohs56qhk">
  <meta name="theme-color" content="<%= manifest.theme_color %>">
  <meta name="description" content="<%= description %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@_shoonia">
  <meta name="twitter:site" content="@_shoonia">
  <meta name="twitter:image" content="<%= icon512 %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= homepage %>">
  <meta property="og:image" content="<%= icon512 %>">
  <link rel="canonical" href="<%= homepage %>">
  <link rel="shortcut icon" href="favicon.ico" sizes="32x32">
</head>

<body>
  <noscript>
    Вам потрібно ввімкнути JavaScript, щоб запустити цю гру
  </noscript>
</body>
</html>
